{% extends 'layout.html' %}

{% block content %}

<h2>Admin Dashboard</h2>

<div class="row">

    <div class="col-md-4">

        <div class="card bg-primary text-white">

            <div class="card-body">

                <h3>{{ total_users }}</h3>

                <p>Total Users</p>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card bg-success text-white">

            <div class="card-body">

                <h3>{{ total_estimates }}</h3>

                <p>Total Estimates</p>

            </div>

        </div>

    </div>

</div>

<br>

<h3>Recent Estimates</h3>

<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Region</th>
        <th>Total Cost</th>
    </tr>

    {% for estimate in estimates %}

    <tr>
        <td>{{ estimate.id }}</td>
        <td>{{ estimate.username }}</td>
        <td>{{ estimate.region }}</td>
        <td>${{ estimate.total_cost }}</td>
    </tr>

    {% endfor %}

</table>

{% endblock %}