{% extends 'layout.html' %}

{% block content %}

<div class="text-center mt-5">

    <h1>
        AWS Cloud Cost Estimator
    </h1>

    <p class="lead">
        Estimate EC2, S3, RDS and Data Transfer Costs
    </p>

    <img src="{{ url_for('static',
        filename='images/cloud.png') }}"
        width="250">

    <br><br>

    <a href="/register"
       class="btn btn-success">

        Register

    </a>

    <a href="/login"
       class="btn btn-primary">

        Login

    </a>

</div>

{% endblock %}