{% extends 'layout.html' %}

{% block content %}

<div class="row justify-content-center">

<div class="col-md-5">

<div class="card shadow">

<div class="card-header">

<h3>
Login
</h3>

</div>

<div class="card-body">

<form method="POST">

<label>
Username
</label>

<input type="text"
       class="form-control"
       name="username">

<br>

<label>
Password
</label>

<input type="password"
       class="form-control"
       name="password">

<br>

<button class="btn btn-primary">

Login

</button>

</form>

</div>

</div>

</div>

</div>

{% endblock %}