{% extends "layout.html" %}

{% block content %}

<div class="row justify-content-center mt-5">

    <div class="col-md-6">

        <div class="card shadow">

            <div class="card-header bg-success text-white">

                <h3 class="text-center">
                    User Registration
                </h3>

            </div>

            <div class="card-body">

    {% if error %}

    <div class="alert alert-danger">

        {{ error }}

    </div>

    {% endif %}

    <form method="POST">

                    <div class="mb-3">

                        <label class="form-label">
                            Username
                        </label>

                        <input
                            type="text"
                            name="username"
                            class="form-control"
                            placeholder="Enter Username"
                            required>

                    </div>

                    <div class="mb-3">

                        <label class="form-label">
                            Password
                        </label>

                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            placeholder="Enter Password"
                            required>

                    </div>

                    <div class="d-grid">

                        <button
                            type="submit"
                            class="btn btn-success">

                            Register

                        </button>

                    </div>

                </form>

                <hr>

                <p class="text-center">

                    Already have an account?

                    <a href="/login">
                        Login Here
                    </a>

                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}