body{
    background:#f4f6f9;
}

.card{
    border:none;
    border-radius:12px;
}

.navbar{
    margin-bottom:20px;
}

h1,h2,h3{
    font-weight:bold;
}

.table{
    background:white;
}

.btn{
    border-radius:8px;
}